<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VistaVillas</title>
    <link rel="stylesheet" href="/contact.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <header class="header" data-header>

        <div class="overlay" data-overlay></div>
    
        <div class="header-bottom">
          <div class="container">
    
            <a href="#" class="logo">
              <img src="./images/logo-light.png" alt="Homeverse logo">
            </a>
    
            <nav class="navbar" data-navbar>
    
              <div class="navbar-top">
    
                <a href="#" class="logo">
                  <img src="./images/logo-light.png" alt="Homeverse logo">
                </a>
    
                <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                  <ion-icon name="close-outline"></ion-icon>
                </button>
    
              </div>
    
              <div class="navbar-bottom">
                <ul class="navbar-list">
    
                  <li>
                    <a href="/home" class="navbar-link" data-nav-link>Home</a>
                  </li>
    
                  <li>
                    <a href="/home#about" class="navbar-link" data-nav-link>About</a>
                  </li>
    
                  <li>
                    <a href="/home#service" class="navbar-link" data-nav-link>Service</a>
                  </li>
    
                  <li>
                    <a href="/home#property" class="navbar-link" data-nav-link> Property</a>
                  </li>
    
                  <li>
                    <a href="/home#blog" class="navbar-link" data-nav-link>Blog</a>
                  </li>
    
                  
    
                </ul>
              </div>
    
            </nav>
    
            <div class="header-bottom-actions">
    
             <button class="header-bottom-actions-btn" aria-label="Search">
              <a href="properties"><ion-icon name="search-outline"></ion-icon></a>
    
                <span>Search</span>
              </button>
    
              <button class="header-bottom-actions-btn" aria-label="Profile">
                <a href="/feedback"><ion-icon name="mail-open-outline"></ion-icon></a>
    
                <span>Login</span>
              </button>
    
              <button class="header-bottom-actions-btn" aria-label="Cart">
            <a href="profile"><ion-icon name="person-circle-outline"></ion-icon></a>
                
                <span>Help</span>
              </button>
              <button class="header-bottom-actions-btn" aria-label="Cart">
                <a href="contact"><ion-icon name="call-outline"></ion-icon></a>
                
                <span>Help</span>
              </button>
    
    
              <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
                <ion-icon name="menu-outline"></ion-icon>
    
                <span>Menu</span>
              </button>
    
            </div>
    
          </div>
        </div>
      </header>
<section>
    <div class="section-header">
      <div class="container">
        <h2>Contact Us</h2>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-home"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Address</h4>
              <p>GHS Rd, Bhavathi, Hampanakatta, Mangaluru, Karnataka.</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-phone"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Phone</h4>
              <p>+0123-456789</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-envelope"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Email</h4>
             <p>vistavilla@gmail.com</p>
            </div>
          </div>
        </div>
    


        <div>
          <map>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.612983995103!2d74.83774117483945!3d12.86825508743776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35a4d98766113%3A0x25266762c463da6d!2sGHS%20Rd%2C%20Bhavathi%2C%20Bunder%2C%20Mangaluru%2C%20Karnataka%20575001!5e0!3m2!1sen!2sin!4v1718691284740!5m2!1sen!2sin" width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </map>
        </div>
        
      </div>
    </div>
  </section>
  <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
</body>
</html>